<%- include('partials/header.ejs') %>
<%- include('partials/nav.ejs') %>
<style>
.main {
  display: flex;
  justify-content: center;
  height: calc(100vh - 100px);
  flex-direction: column;
  align-items: center;
}
</style>

<div class="main">

</div>

<script>
  const ROOM_ID = "<%= roomId %>"
</script>
<%- include('partials/scripts.ejs') %> 
<%- include('partials/footer.ejs') %> 